**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/.tox
**/.coverage
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/*.cover
**/*.log
**/.mypy_cache
**/.pytest_cache
**/.hypothesis
**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
**/.aws
**/.ssh
Dockerfile
dockerfiles
README.md
docker-compose.yml
**/.DS_Store
**/env
**/.venv
**/venv
wandb
Makefile
tests
logs
docs
wandbsecrets.txt